{% extends 'base.html' %}

{% block title %} About Us{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top:5rem;  padding-top:5rem; margin-bottom:5em;">
            <div class="col md-10 ml-md-auto">

                <main role="main">

                    <!-- Main jumbotron for a primary marketing message or call to action -->
                    <div class="jumbotron">
                      <div class="container">
                        <h1 class="display-3">SECULEAGUE..</h1>
                        <p>Security Operation Center (SOC) is a centralized function within an organization employing people, processes, and technology to continuously monitor and improve an organization's security posture while preventing, detecting, analyzing, and responding to cybersecurity incidents.</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
                      </div>
                    </div>
              
                    <div class="container">
                      <!-- Example row of columns -->
                      <div class="row">
                        <div class="col-md-4">
                          <h2>Preparation and Preventative Maintenance</h2>
                          <p>Even the most well-equipped and agile response processes are no match for preventing problems from occurring in the first place. To help keep attackers at bay, the SOC implements preventative measures. </p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                          <h2>Security Refinement and Improvement</h2>
                          <p>Cybercriminals are constantly refining their tools and tactics—and in order to stay ahead of them, the SOC needs to implement improvements on a continuous basis. During this step, the plans outlined in the Security Road Map come to life, but this refinement can also include hands-on practices such as red-teaming and purple-teaming.. </p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                          <h2>Log Management</h2>
                          <p>The SOC is responsible for collecting, maintaining, and regularly reviewing the log of all network activity and communications for the entire organization. This data helps define a baseline for “normal” network activity, can reveal the existence of threats, and can be used for remediation and forensics in the aftermath of an inciden.</p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                        </div>
                      </div>
              
                      <hr>
              
                    </div> <!-- /container -->
              
                  </main>
              
                  <footer class="container">
                    <p>&copy; SECULEAGUE 2022</p>
                  </footer>
            </div>
        </div>
    </div>
    {% endblock %}
