{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <select name="search_filter" id="search_filter" class="form-control">
                {% for row in db_tables %}
                <option value="{{row}}">{{row}}</option>';
                {% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <div style="clear:both"></div>
            <br />
            <div class="jumbotron p-3">
                <h2>Manage <b>Use Case </b> <button type="button" class="btn btn-success float-right"
                        data-toggle="modal" data-target="#mymodal">Add New Entry</button> </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <table class="table table-hover table-dark">
                    <thead>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>TYPE</th>
                        <th>OWNER</th>
                        <th>IDENTIFIER</th>
                        <th>ORIGIN</th>
                        <th>ENABLED</th>
                        <th>CREATION</th>
                        <th>MODIFICATION</th>
                    </thead>

                    <tbody>


                    </tbody>

                </table>
        


            </div>
            <!-- Modal Add USE CASE-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add ENTRY</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Type:</label>
                                    <input type="text" class="form-control" name="type" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Enabled:</label>
                                    <input type="text" class="form-control" name="enabled" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Origin:</label>
                                    <input type="text" class="form-control" name="origin" required="0">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add Entry</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        load_data();

        function load_data(query = '') {
            $.ajax({
                url: "/fetchrecords",
                method: "POST",
                data: {
                    query: query,
                },
                success: function (data) {
                    $('tbody').html(data);
                    $('tbody').append(data.htmlresponse);
                }
            })
        }

        $('#search_filter').change(function () {
            $('#hidden_value').val($('#search_filter').val());
            var query = $('#hidden_value').val();
            load_data(query);
        });

    });
</script>

{% endblock %}