
{% extends 'base.html' %}

{% block title %} Seculeague Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top:5rem;  padding-top:5rem;">
            <div class="col md-10 ml-md-auto">

                <div>

                    <table class="table table-hover" id='myTable'>
                        <thead>
                            <th>Number of UC in Seculeague: </th>
                            <th>{{d['NSe']['Total']}}</th>
                        </thead>
                       
                    </table>
                  </br>
                  <p style="text-align: center;">N° OF USE CASES PER TABLE</p>
                    <table class="table table-hover" id='myTable'>
                      <thead>
                          <th>Table</th>
                          <th>Qradar</th>
                          <th>Added UC</th>
                          <th>Seculeague</th>
                          <th>QrMinusSl</th>
                          <th>SlMinusQr</th>
                          <th>Removed</th>
                          <th>History</th>
                      </thead>
                     <tbody>
                        <tr>
                          <td>Total</td>
                          <td style="text-align: center;">{{d['NQr']['Total']}}</td>
                          <td style="text-align: center;">{{d['NNe']['Total']}}</td>
                          <td style="text-align: center;">{{d['NSe']['Total']}}</td>
                          <td style="text-align: center;">{{d['NQrsl']['Total']}}</td>
                          <td style="text-align: center;">{{d['NSlqr']['Total']}}</td>
                          <td style="text-align: center;">{{d['NRe']['Total']}}</td>
                          <td style="text-align: center;">{{d['NHi']['Total']}}</td>
                        </tr>
                        <tr>
                          <td>Event</td>
                          <td style="text-align: center;">{{d['NQr']['Event']}}</td>
                          <td style="text-align: center;">{{d['NNe']['Event']}}</td>
                          <td style="text-align: center;">{{d['NSe']['Event']}}</td>
                          <td style="text-align: center;">{{d['NQrsl']['Event']}}</td>
                          <td style="text-align: center;">{{d['NSlqr']['Event']}}</td>
                          <td style="text-align: center;">{{d['NRe']['Event']}}</td>
                          <td style="text-align: center;">{{d['NHi']['Event']}}</td>
                          
                        </tr>
                        <tr>
                          <td>Flow</td>
                          <td style="text-align: center;">{{d['NQr']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NNe']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NSe']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NQrsl']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NSlqr']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NRe']['Flow']}}</td>
                          <td style="text-align: center;">{{d['NHi']['Flow']}}</td>
                        </tr>
                        <tr>
                          <td>COMMON</td>
                          <td style="text-align: center;">{{d['NQr']['Common']}}</td>
                          <td style="text-align: center;">{{d['NNe']['Common']}}</td>
                          <td style="text-align: center;">{{d['NSe']['Common']}}</td>
                          <td style="text-align: center;">{{d['NQrsl']['Common']}}</td>
                          <td style="text-align: center;">{{d['NSlqr']['Common']}}</td>
                          <td style="text-align: center;">{{d['NRe']['Common']}}</td>
                          <td style="text-align: center;">{{d['NHi']['Common']}}</td>
                        </tr>
                        
                     </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}