{% extends 'base.html' %}

{% block title %} Qradar Database{% endblock %}

{% block body %}
    <div class="container">

        <div class="row" style="margin-top:5rem;  padding-top:5rem; margin-bottom: 10rem;">
            <div class="col md-10 ml-md-auto">

                <div class="jumbotron">
                    <div class="container">
                      <center><h1 class="display-5">QRADAR IBM TABLE</h1></center>
                    </div>
                </div>

                <div>

                    <table class="table table-hover" id='myTable'>
                        <thead>
                            <th style="width:20px;">ID</th>
                            <th style="width:30px;">Qr ID</th>
                            <th>NAME</th>
                            <th style="width:50px;">TYPE</th>
                            <th style="width:75px;">ENABLED</th>
                            <th style="width: 120px;">CREATION DATE</th>
                            <th style="width:120px;">MODIFICATION DATE</th>
                            <th style="width:120px;">LAST UPDATED</th>
                        </thead>
                       
                    </table>

                </div>

            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <script>


    $(document).ready(function () {
      $('#myTable').DataTable({
        "pageLength": 10,
        ajax: '/qradar/api',
        columns: [
          {data: 'id', orderable: true},
          {data: 'qr_id', orderable: true, searchable: true},
          {data: 'name', orderable: true, searchable: true},
          {data: 'TYPE', orderable: true, searchable: true},
          {data: 'enabled', orderable: true, searchable: false},
          {data: 'creation_date', orderable: true, searchable: false},
          {data: 'modification_date', orderable: true, searchable: false},
          {data: 'last_updated', orderable: true, searchable: false}
        ],
      });
    });

    </script>

{% endblock %}