
{% for row in data %}

<tr>
    <td>{{row.id}}</td>   
    <td>{{row.name}}</td>
    <td>{{row.origin}}</td>
    <td>{{row.owner}}</td>
    <td>
        <a class="add" title="Add" data-toggle="tooltip" id="{{row.id}}"><i
                class="fa fa-user-plus"></i></a>
        <a class="edit" title="Edit" data-toggle="tooltip" id="{{row.id}}"><i
                class="fa fa-pencil"></i></a>
        <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.id}}"><i
                class="fa fa-trash-o"></i></a>
    </td>
</tr>
{% endfor %}