{% extends 'base.html' %}

{% block title %} SECULEAGUE{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top:5rem;  padding-top:5rem;  margin-bottom:5rem;" >
            <div class="col md-10 ml-md-auto">
                <div class="jumbotron">
                    <div class="container">
                      <center><h1 class="display-5">SECULEAGUE TABLE</h1></center>
                    </div>
                </div>
                <div>

                    <table class="table table-hover" id='sTable'>
                        <thead>
                            <th style="width:50px;">ID</th>
                            <th style="width:80px;">QR ID</th>
                            <th style="width:80px;">SL ID</th>
                            <th style="width:300px;">NAME</th>
                            <th style="width:75px;">TYPE</th>
                            <th style="width:155px;">CREATION DATE</th>
                            <th style="width:155px;">MODIFICATION DATE</th>
                            <th style="width:100px;">PREV TABLE</th>
                            <th>COMMENT</th>
                        </thead>
                       
                    </table>

                </div>

            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <script>
    $(document).ready(function () {
      $('#sTable').DataTable({
        ajax: '/seculeague/api',
        "pageLength": 25,
        columns: [
          {data: 'id', orderable: true},
          {data: 'qr_id', orderable: true, searchable: true},
          {data: 'sl_id', orderable: true, searchable: true},
          {data: 'name', orderable: true, searchable: true},
          {data: 'TYPE', orderable: true, searchable: true},
          {data: 'creation_date', orderable: true, searchable: false},
          {data: 'modification_date', orderable: true, searchable: false},
          {data: 'previous_tbl', orderable: true, searchable: true},
          {data: 'comment', orderable: false, searchable: false}
        ],
      });
    });

        // Show Input element
        $('.edit').click(function () {
            $('.txtedit').hide();
            $(this).next('.txtedit').show().focus();
            $(this).hide();
        });

        // Save data
        $(".txtedit").focusout(function () {

            // Get edit id, field name and value
            var id = this.id;
            var split_id = id.split("-");
            var field_name = split_id[0];
            var query = split_id[1];
            var edit_id = split_id[2];
            var value = $(this).val();

            // Hide Input element
            $(this).hide();

            // Hide and Change Text of the container with input elmeent
            $(this).prev('.edit').show();
            $(this).prev('.edit').text(value);

            $.ajax({
                url: '/update',
                type: 'post',
                data: {
                    field: field_name,
                    value: value,
                    id: edit_id,
                    query: query
                },
                success: function (response) {
                    if (response == 1) {
                        console.log('Save successfully');
                    } else {
                        console.log("Not saved.");
                    }
                }
            });

        });




    </script>

{% endblock %}